.App {
  text-align: center;
}

.pic {
  left: "50%";
  top: "50%";
  position: "absolute";
  padding: "20px";
  transform: "translate(-50%, -50%)";
}

.inbetween {
  display: flex;
  height: 50vh;
}

.logo {
  width: 50vw; 
}

@media (max-width: 480px) {

  .logo {
    width: 80vw; 
  }

}