.App {
  text-align: center;
}

.pic {
  left: "50%";
  top: "50%";
  position: "absolute";
  padding: "20px";
  transform: "translate(-50%, -50%)";
}

.inbetween {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50vh;
}

.logo {
  width: 50vw; 
}

h1 {
  font-style: italic;
  font-weight:bolder; 
}

.box1 {
  width: 40vw; 
}
.box2 {
  width: 40vw; 
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.imgContainer{
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  height: 200px; 
  width: 200px; 
  margin: 5px; 
}
img{
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 767px) {
  .logo {
    width: 80vw; 
  }
}